<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="log/internal.log"
      internalLogLevel="Info">

    <targets>
        <target 
          xsi:type="File"
          name="LogFile"
          fileName="logs/latest.log"
          archiveFileName="logs/archive.${date:format=yyyy-MM-dd-hh-mm-s}.log"
          archiveOldFileOnStartup="true"
          maxArchiveFiles="3"
          layout="${longdate} | ${callsite:includeNamespace=true} | ${level} | ${message} ${exception}"/>
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="" />
    </rules>
</nlog>